<section class='cart-drawer-outer' data-component='cartDrawer'>
    <div class='cart-drawer-overlay js-overlay'></div>
    <div class='cart-drawer js-drawer'>
        <header class='outer'>
            <div>
                <button class='button--reset js-close'>
                    &lt;
                </button>

                <h3>Your Cart</h3>
            </div>
        </header>

        <div class='cart-drawer__items outer'>
            <div class='js-items'>
                <div>
                    <svg viewbox="0 0 100 86">
                        <use xlink:href="#logo"></use>
                    </svg>
                </div>
            </div>
        </div>

        <footer class='outer'>
            <h5>Subtotal:
                <span class='js-subtotal'>$-.--</span>
            </h5>

            {%
                include 'component-button' with
                tag: 'a',
                cta: 'Checkout',
                href: '/checkout',
                className: 'y no-ajax'
            %}
        </footer>
    </div>
</section>
