{% comment %}
/components/counter.css
{% endcomment %}

<div class="counter-wrapper rel" data-component="productCounter">
    <div class="counter rel f aic">
        <button class="js-counter-remove" type="button">-</button>
        <input class="js-counter-quantity" max="" min="1" name="quantity" type="number" value="1">
        <button class="js-counter-add" type="button">+</button>
    </div>
</div>
